{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div id="delete-item" class="main form">
    <div>
        <h2>Create Category</h2>
        <form action="#" method="POST">
            <p>Are you sure tou want to delete? </p>
            <br>
            <div id="buttons">
                <a href="" class="btn btn-danger">Delete</a>
                <a href="#">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}