{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div id="delete-item" class="main form">
    <div>
        <h2>Delete Item - {{item.title}}</h2>
        <form action="{{url_for('deleteItem', itemId = item.id)}}" method="POST">
            <p>Are you sure tou want to delete? </p>
            <br>
            <div id="buttons">
                <input type="submit" class="btn btn-danger" value="Delete">
                <a href="{{url_for('showItem', catalogItemId = item.category.id, itemId = item.id)}}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}