{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div id="new-category" class="main form">
    <div>
        <h2>Edit Category</h2>
        <form action="{{ url_for('editCategory', categoryId=category.id)}}" method="POST">
            <p>Title</p>
            <input type="text" placeholder="Title" name="title" value="{{category.title}}">
            <br>
            <div id="buttons">
                <input type="submit" class="btn btn-confirm" value="Save">
                <a href="{{url_for('showHome')}}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}