{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div class="main form" id="admin-item">
    <div>
        <h2>Edit</h2>
        <form action="{{ url_for('editItem', itemId = item.id)}}" method="POST">
            <h4>Title</h4>
            <input name="title" type="text" placeholder="Title" value="{{item.title}}">
            <h4>Description</h4>
            <textarea name="description" rows="10">{{item.description}}</textarea>
            <h4>Category</h4>
            <select name="category">
                {% for c in categories %} {% if c.id == item.category.id%}
                <option value="{{c.title}}" selected>{{c.title}}</option>
                {% else %}
                <option value="{{c.title}}">{{c.title}}</option>
                {% endif%} {% endfor %}
            </select>
            <br>
            <div id="buttons">
                <input type="submit" class="btn btn-confirm" value="Save">
                <a href="{{url_for('showItem', catalogItemId = item.category.id, itemId = item.id)}}">Cancel</a>

            </div>
        </form>
    </div>
</div>
{% endblock %}