{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% endif %} {% endwith
%}
<aside id="side">
    <div>
        <h3>Categories </h3>
        <ul>
            {% for c in categories %}
            <li>
                <a href="{{url_for('showCatalogItems', categoryId = c.id)}}" class="list-item">{{c.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{url_for('newCategory')}}" class="btn btn-primary">Add Category</a>
</aside>
<div id="line"></div>
<article id="article" class="main">
    <div>
        <h2>Last items added</h2>
        <ul>
            {% for i in items %}
            <li>
                <a href="{{url_for('showItem', catalogItemId = i.category.id, itemId = i.id)}}" class="list">{{i.title}}
                    <span>({{i.category.title}})</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</article>

{% endblock %}