{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div id="item-detail" class="main">
    <div>
        <h2>{{item.title}}</h2>
        <p>{{item.description}} </p>
    </div>
    <div id="buttons">
        <a href="{{url_for('editItem', itemId = item.id)}}" class="btn btn-confirm">Edit</a>
        <a href="{{url_for('deleteItem', itemId = item.id)}}" class="btn btn-danger" id="delete-item">Delete</a>
        <a href="{{url_for('showHome')}}">Cancel</a>
    </div>
</div>
{% endblock %}