{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<aside id="side">
    <div>
        <h3>Categories</h3>
        <ul>
            {% for c in categories %}
            <li>
                <a href="{{url_for('showCatalogItems', categoryTitle = c.title, categoryId = c.id)}}" class="list-item">{{c.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{url_for('newCategory')}}" class="btn btn-primary">Add Category</a>
</aside>
<div id="line"></div>
<article id="article" class="main">
    <div>
        <div id="top-article">
            <h2>{{category.title}} - ({{itemsCount}} items) </h2>
            <a href="{{url_for('editCategory', categoryId = category.id)}}" class="icon">
                <img src="{{url_for('static', filename='edit.png')}}" alt="">
            </a>
            <a href="{{url_for('deleteCategory', categoryId = category.id)}}" class="icon">
                <img src="{{url_for('static', filename='delete.png')}}" alt="">
            </a>
        </div>
        <ul>
            {% for i in items %}
            <li>
                <a href="{{url_for('showItem', catalogItemId = i.category.id, itemId = i.id)}}" class="list">{{i.title}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="buttons">
        <a href="{{url_for('newItem')}}" class="btn btn-primary">Add New Item</a>
        <a href="{{url_for('deleteCategory', categoryId = category.id)}}" id="delete-category">Delete Category</a>
    </div>
</article>

{% endblock %}