{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div id="item-detail" class="main">
    <div>
        <div id="top-article">
            <h2>{{item.title}}</h2>
            {% if logged and owner %}
            <a href="{{url_for('editItem', itemId = item.id)}}" class="icon">
                <img src="{{url_for('static', filename='edit.png')}}" alt="">
            </a>
            <a href="{{url_for('deleteItem', itemId = item.id)}}" class="icon">
                <img src="{{url_for('static', filename='delete.png')}}" alt="">
            </a>
            {% endif %}
        </div>
        <p>{{item.description}} </p>
    </div>
    <a href="{{url_for('showHome')}}">Back</a>
</div>
{% endblock %}