{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}{%block navbar%}{{
super() }}{%endblock%}{% block content %}
<div class="main form" id="admin-item">
    <div>
        <h2>Create New Item</h2>
        <form action="#" method="POST">
            <h4>Title</h4>
            <input type="text" placeholder="Title">
            <h4>Description</h4>
            <textarea name="description" rows="10"></textarea>
            <h4>Category</h4>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <br>
            <div id="buttons">
                <input type="submit" class="btn btn-confirm" value="Save">
                <a href="#">Cancel</a>

            </div>
        </form>
    </div>
</div>
{% endblock %}