<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
    <nav id="navbar">{%block navbar%}
        <a href="{{url_for('showHome')}}">
            <h1>Catalog App</h1>
        </a>
        <a href="" class="btn btn-primary">Login</a>
        {%endblock%}
    </nav>
    <div id="container">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %} {% endblock %}
    </div>
</body>

</html>